<div class="text text-center mt-5">
    <div class="heading">
        <p class="author_name">
            {{author.name}}
        </p>
    </div>
    <div class="container">
        <p class="head_element float-left">Poems of {{author.name}}:</p>
        <div class="float-right mb-2" >
            <button type="button" class="btn btn-outline-success" *ngIf="!isSubscriptionExist" (click)="subscribe()">Subscribe</button>
            <button type="button" class="btn btn-outline-danger" *ngIf="isSubscriptionExist" (click)="unsubscribe()">Unsubscribe</button>
        </div>
    </div>
</div>
<app-posts-list-table [authorId]="authorId"></app-posts-list-table>