<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" href="/">PoemPost</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/classics">Classics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contemporaries">Contemporaries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/categories">Categories</a>
        </li>
      </ul>
     <button type="button" class="btn btn-light text-white" (click)= "login()" *ngIf="!isAuthenticated()">Log in</button>
     <button type="button" class="btn btn-light text-white" (click)= "logOut()" *ngIf="isAuthenticated()">Log out</button>
     <button type="button" class="btn btn-light text-white ml-2" [routerLink]="['/profile']"  *ngIf="isAuthenticated()">Profile</button>
    </div>
  </nav>