<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand text-white" href="/">PoemPost</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/classics">Classics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contemporaries">Contemporaries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Categories</a>
        </li>
      </ul>
      <div class="search-box">
        <input type="text" class="search-txt" placeholder="search...">
        <a href="#" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></a>
     </div>
     <button type="button" class="btn btn-light text-white">Sign in</button>
    </div>
  </nav>