*{
    margin: 0;
    padding: 0;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

